<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>KEEP KALM</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>

    <div class="cssBody">
        <form method="post" action="/response">
      <ol><h1>KEEP KALM</h1>
        <li>"How would you rate your anixety?"
          <div>
            <input type="radio" name="option" value="Very low">Very low
            <input type="radio" name="option" value="low"> low
            <input type="radio" name="option" value="Moderate"> Moderate
            <input type="radio" name="option" value="Bad"> Bad
            <input type="radio" name="option" value="I need Jesus">I need Jesus
          </div>
        <li>"What Activities Kalm you down?"
          <div>
            <input type="radio" name="option2" value="Music">Music
            <input type="radio" name="option2" value="Sports">Sports
            <input type="radio" name="option2" value="Stretching">Streching
            <input type="radio" name="option2" value="Reading">Reading
            <input type="radio" name="option2" value="Videogames">Videogames
          </div>
        <li>"Do you suffer from anxiety often?"
          <div>
            <input type="radio" name="option3" value="Yes">Yes
            <input type="radio" name="option3" value="No">No
          </div>
        <li>"Does worry or anxiety make you feel fatigued or irritable?"
          <div>
            <input type="radio" name="option4" value="Never"> Never
            <input type="radio" name="option4" value="Moderate"> Moderate
            <input type="radio" name="option4" value="All The Time">All The Time
          </div>
        <li>"Do you experience intense anxiety or worry and find it difficult to control?"
          <div>
            <input type="radio" name="option5" value="Never"> Never
            <input type="radio" name="option5" value="Moderate"> Moderate
            <input type="radio" name="option5" value="All The Time">All The Time
          </div>
          </li>
      </ol>
      <input type="submit" name="" value="submit">
      </form>
      </div>

    <!-- <div class="container">
      <button class="<button type="button" name="button">Submit</button> -->
  </body>
</html>
